@import url("https://fonts.googleapis.com/css2?family=Glass+Antiqua&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Glass Antiqua", cursive;
}

main {
  margin: 0 auto;
  max-width: 1600px;
  max-height: 1000px;
  position: relative;
}

.wrapper {
  margin: 0 142px;
  background: #FFFFFF;
}

.header {
  height: 153px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.header__icon {
  color: #000000;
  display: flex;
  align-items: center;
  width: 68px;
  height: 23px;
}
.header__icon:hover {
  background-image: url(../img/icon-arrow-up-fill.svg);
  color: #97B7AF;
}
.header__icon-btn {
  width: 8px;
  height: 14px;
  background-image: url(../img/icon-arrow-up.svg);
}
.header__icon-text {
  font-size: 19px;
  letter-spacing: 0px;
  margin-left: 20px;
}
.header__logo {
  width: 199px;
  height: 96px;
  margin: 0 auto;
}
.header__menu {
  width: 97px;
  height: 86px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header__button {
  width: 32px;
  height: 20px;
  background-image: url(../img/menu-nav.svg);
  cursor: pointer;
  z-index: 2;
}
.header__button:hover {
  background-image: url(../img/menu-nav-fill.svg);
  transition: background-image 0.3s ease-out;
}
.header__sidebar {
  display: none;
}
.header__sidebar-table {
  width: 713px;
  height: 879px;
  border: 1px solid #4D6362;
  position: absolute;
  top: 57px;
  right: 90px;
  background-color: #FFFFFF;
  z-index: 1;
  padding: 0px 87px;
  transition: 0.5s ease;
}
.header__sidebar-bottom {
  width: 538px;
  height: 128px;
  border-bottom: 1px solid #4D6362;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__sidebar-logo {
  width: 135px;
  height: 65px;
  background-image: url(../img/logo.svg);
  background-size: cover;
}
.header__sidebar-button {
  width: 88px;
  height: 88px;
}
.header__sidebar-close-button {
  width: 35px;
  height: 22px;
}
.header__main-list {
  letter-spacing: 0px;
  color: #282526;
  font-size: 35px;
}
.header__first-list {
  border-bottom: 1px solid #4D6362;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 89px 0 55px;
}
.header__first-item {
  height: 44px;
  cursor: pointer;
  margin-bottom: 34px;
  opacity: 0.6;
}
.header__first-item:nth-child(1):hover {
  opacity: 1;
  transition: color 0.3s ease-out;
}
.header__second-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 89px 0 49px;
}
.header__second-item {
  height: 44px;
  cursor: pointer;
  margin-bottom: 34px;
  opacity: 0.6;
}
.header__second-item:nth-child(2) {
  color: #97B7AF;
}
.header__second-item:nth-child(2):hover {
  color: #4D6362;
  opacity: 1;
  transition: color 0.3s ease-out;
}
.header__overlay {
  position: fixed;
  transition: 0.5s ease;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #FFFFFF;
  opacity: 0.8;
}

.nav--open {
  display: block;
}

.main-title {
  height: 44px;
  margin: 54px 0 70px;
  text-align: left;
  font-size: 35px;
  letter-spacing: 0px;
  color: #282526;
}

.main-cart {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product-cart {
  width: 726px;
}
.product-cart__wrapper {
  border-bottom: 1px solid #4D6362;
  margin-bottom: 35px;
}
.product-cart__list {
  height: 47px;
  border-bottom: 1px solid #4D6362;
  display: flex;
  font-size: 21px;
  color: #282526;
  margin-bottom: 21px;
}
.product-cart__item--first {
  flex-grow: 1;
}
.product-cart__item--second {
  padding-right: 100px;
}
.product-cart__details {
  display: flex;
  align-items: center;
}
.product-cart__image {
  width: 115px;
  height: 126px;
  margin-bottom: 36px;
}
.product-cart__info {
  height: 26px;
  text-align: left;
  font-size: 21px;
  letter-spacing: 0px;
  color: #282526;
  flex-grow: 1;
  padding-left: 26px;
}
.product-cart__amout {
  width: 57px;
  height: 29px;
  font-size: 22px;
  color: #282526;
  text-align: center;
  margin-right: 105px;
}
.product-cart__minus {
  padding-right: 12px;
  font-size: 26px;
  color: #282526;
  opacity: 0.5;
}
.product-cart__plus {
  padding-left: 14px;
  font-size: 26px;
  color: #282526;
  opacity: 0.5;
}
.product-cart__price {
  width: 37px;
  height: 26px;
  font-size: 21px;
  letter-spacing: 0px;
  color: #282526;
}
.product-cart__summary {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
  font-size: 25px;
  color: #282526;
}
.product-cart__order {
  width: 181px;
  height: 30px;
  text-align: left;
  letter-spacing: 0px;
  flex-grow: 1;
}
.product-cart__total {
  width: 44px;
  height: 30px;
  text-align: end;
}

.payment-card {
  width: 447px;
}
.payment-card__title {
  width: 149px;
  height: 26px;
  font-size: 21px;
  letter-spacing: 0px;
  color: #282526;
  margin-bottom: 21px;
}
.payment-card__details {
  height: 568px;
  border: 1px solid #4D6362;
  position: relative;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
  padding: 58px 35px 35px;
}
.payment-card__number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 73px;
  position: relative;
}
.payment-card__logo {
  width: 62px;
  height: 20px;
  position: absolute;
  right: 0;
  top: 4px;
}
.payment-card__name {
  width: 100%;
  height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 51px 0;
}
.payment-card__security {
  width: 377px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 104px;
}
.payment-card__date {
  width: 166px;
  height: 73px;
  display: flex;
  flex-direction: column;
}
.payment-card__code {
  width: 166px;
  height: 73px;
  display: flex;
  flex-direction: column;
  opacity: 0.6;
}
.payment-card__btn {
  width: 205px;
  height: 48px;
  background: #4D6362;
  border-radius: 22px;
  border: none;
  color: #FFFFFF;
  font-size: 21px;
  letter-spacing: 0px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  cursor: pointer;
  font-family: "Glass Antiqua", cursive;
}
.payment-card__btn:hover {
  background-color: #97B7AF;
  transition: background-color 0.3s ease-out;
}
.payment-card__input {
  border: none;
  height: 40px;
  font-size: 19px;
  font-family: "Glass Antiqua", cursive;
  outline: none;
  border-bottom: 1px solid #4D6362;
  padding-bottom: 17px;
  color: #282526;
  caret-color: #97B7AF;
}
.payment-card__input--effect:hover::placeholder {
  color: #97B7AF;
  transition: 0.3s ease-out;
}
.payment-card__input--effect:hover {
  color: #97B7AF;
  border-bottom: 1px solid #97B7AF;
  transition: 0.3s ease-out;
  cursor: pointer;
}
.payment-card__input:focus {
  color: black;
  border-bottom: 1px solid #97B7AF;
  opacity: 1;
}
.payment-card__input:focus ~ label {
  color: black;
  opacity: 1;
}

label {
  font-size: 15px;
  padding-top: 14px;
  opacity: 0.6;
}

/*# sourceMappingURL=checkout.css.map */
