@import url("https://fonts.googleapis.com/css2?family=Glass+Antiqua&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Glass Antiqua", cursive;
}

main {
  margin: 0 auto;
  max-width: 1600px;
  max-height: 1000px;
  position: relative;
}

.container {
  background: #FFFFFF;
}
@media (max-width: 1199.99px) {
  .container {
    margin: 0 30px;
  }
}
@media (min-width: 1200px) {
  .container {
    margin: 0 5px;
  }
}
@media (min-width: 1300px) {
  .container {
    margin: 0 40px;
  }
}
@media (min-width: 1400px) {
  .container {
    margin: 0 70px;
  }
}
@media (min-width: 1500px) {
  .container {
    margin: 0 142px;
  }
}

.header {
  display: flex;
}
@media (max-width: 767.99px) {
  .header {
    align-items: center;
    height: 75px;
  }
}
@media (min-width: 768px) {
  .header {
    align-items: center;
    height: 140px;
  }
}
@media (min-width: 1200px) {
  .header {
    align-items: flex-end;
    height: 153px;
  }
}
.header__icon {
  color: #000000;
}
@media (max-width: 1199px) {
  .header__icon {
    font-size: 12px;
    height: 15px;
    width: 42px;
  }
}
@media (min-width: 1200px) {
  .header__icon {
    margin-bottom: 30px;
    font-size: 19px;
    height: 23px;
    width: 68px;
  }
}
.header__icon-text {
  letter-spacing: 0px;
  background: url(../img/icon-arrow-up.svg);
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 20px;
}
.header__icon-text:hover {
  background: url(../img/icon-arrow-up-fill.svg);
  background-repeat: no-repeat;
  background-position: left;
  color: #97B7AF;
  transition: 0.3s ease-out;
  cursor: pointer;
}
.header__logo {
  margin: 0 auto;
}
@media (max-width: 767.99px) {
  .header__logo {
    width: 92px;
    height: 42px;
  }
}
@media (min-width: 768px) {
  .header__logo {
    width: 150px;
    height: 100px;
  }
}
@media (min-width: 1200px) {
  .header__logo {
    width: 199px;
    height: 96px;
  }
}
.header__menu {
  display: flex;
  align-items: center;
}
@media (max-width: 1199px) {
  .header__menu {
    height: 40px;
  }
}
@media (min-width: 1200px) {
  .header__menu {
    height: 86px;
  }
}
.header__button {
  background: url(../img/menu-nav.svg);
  background-position: center;
  z-index: 2;
  width: 32px;
  height: 23px;
  position: relative;
}
.header__sidebar {
  display: none;
}
.header__sidebar-table {
  border: 1px solid #4D6362;
  position: absolute;
  background-color: #FFFFFF;
  z-index: 1;
  transition: 0.5s ease;
}
@media (max-width: 767.99px) {
  .header__sidebar-table {
    top: 0;
    right: 0;
    padding: 0 30px;
    width: 100%;
  }
}
@media (min-width: 768px) {
  .header__sidebar-table {
    top: 10px;
    right: 10px;
    padding: 0 30px;
    width: 600px;
  }
}
@media (min-width: 1200px) {
  .header__sidebar-table {
    width: 713px;
    height: 879px;
    top: 50px;
    right: 0;
    padding: 0px 50px;
  }
}
@media (min-width: 1300px) {
  .header__sidebar-table {
    top: 50px;
    right: 15px;
  }
}
@media (min-width: 1500px) {
  .header__sidebar-table {
    top: 57px;
    right: 90px;
    padding: 0px 87px;
  }
}
.header__sidebar-bottom {
  border-bottom: 1px solid #4D6362;
  display: flex;
  align-items: center;
}
@media (max-width: 767.99px) {
  .header__sidebar-bottom {
    height: 73px;
  }
}
@media (min-width: 768px) {
  .header__sidebar-bottom {
    justify-content: center;
    height: 128px;
  }
}
.header__sidebar-logo {
  background-image: url(../img/logo.svg);
  background-size: cover;
}
@media (max-width: 767.99px) {
  .header__sidebar-logo {
    width: 82px;
    height: 38px;
  }
}
@media (min-width: 768px) {
  .header__sidebar-logo {
    width: 135px;
    height: 65px;
  }
}
.header__main-list {
  letter-spacing: 0px;
  color: #282526;
}
@media (max-width: 767.99px) {
  .header__main-list {
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  .header__main-list {
    font-size: 35px;
  }
}
.header__first-list {
  border-bottom: 1px solid #4D6362;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 767.99px) {
  .header__first-list {
    padding: 72px 0 40px;
  }
}
@media (min-width: 768px) {
  .header__first-list {
    padding: 89px 0 55px;
  }
}
.header__first-item {
  cursor: pointer;
  opacity: 0.6;
}
.header__first-item:nth-child(1):hover {
  opacity: 1;
  transition: color 0.3s ease-out;
}
@media (max-width: 767.99px) {
  .header__first-item {
    height: 25px;
    margin-bottom: 30px;
  }
}
@media (min-width: 768px) {
  .header__first-item {
    height: 44px;
    margin-bottom: 34px;
  }
}
.header__second-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 767.99px) {
  .header__second-list {
    padding: 72px 0 78px;
  }
}
@media (min-width: 768px) {
  .header__second-list {
    padding: 89px 0 49px;
  }
}
.header__second-item {
  height: 44px;
  cursor: pointer;
  margin-bottom: 34px;
  opacity: 0.6;
}
.header__second-item:nth-child(2) {
  color: #97B7AF;
}
.header__second-item:nth-child(2):hover {
  color: #4D6362;
  opacity: 1;
  transition: color 0.3s ease-out;
}
@media (max-width: 767.99px) {
  .header__second-item {
    height: 25px;
    margin-bottom: 30px;
  }
}
@media (min-width: 768px) {
  .header__second-item {
    height: 44px;
    margin-bottom: 34px;
  }
}
.header__overlay {
  position: fixed;
  transition: 0.5s ease;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #FFFFFF;
  opacity: 0.8;
}

.main-title {
  text-align: left;
  letter-spacing: 0px;
  color: #282526;
}
@media (max-width: 767.99px) {
  .main-title {
    margin: 17px 0 20px;
    width: 80px;
    height: 22px;
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  .main-title {
    margin: 54px auto 70px;
    width: 726px;
  }
}
@media (min-width: 1200px) {
  .main-title {
    margin: 54px 0 70px;
    font-size: 35px;
    height: 44px;
  }
}

.main-cart {
  display: flex;
}
@media (max-width: 1199.99px) {
  .main-cart {
    flex-flow: wrap;
    justify-content: center;
  }
}
@media (min-width: 1200px) {
  .main-cart {
    justify-content: space-between;
  }
}

.product-cart {
  width: 726px;
}
.product-cart__wrapper {
  border-bottom: 1px solid #4D6362;
}
@media (max-width: 767.99px) {
  .product-cart__wrapper {
    margin-bottom: 8px;
  }
}
@media (min-width: 768px) {
  .product-cart__wrapper {
    margin-bottom: 35px;
  }
}
.product-cart__list {
  border-bottom: 1px solid #4D6362;
  display: flex;
  color: #282526;
}
@media (max-width: 767.99px) {
  .product-cart__list {
    margin-bottom: 16px;
    height: 24px;
    font-size: 12px;
  }
}
@media (min-width: 768px) {
  .product-cart__list {
    height: 47px;
    margin-bottom: 21px;
    font-size: 21px;
  }
}
.product-cart__item--first {
  flex-grow: 1;
}
@media (max-width: 767.99px) {
  .product-cart__item--second {
    padding-right: 50px;
  }
}
@media (min-width: 768px) {
  .product-cart__item--second {
    padding-right: 100px;
  }
}
.product-cart__details {
  display: flex;
  align-items: center;
}
@media (max-width: 767.99px) {
  .product-cart__image {
    width: 64px;
    height: 70px;
    margin-bottom: 16px;
  }
}
@media (min-width: 768px) {
  .product-cart__image {
    width: 115px;
    height: 126px;
    margin-bottom: 36px;
  }
}
.product-cart__info {
  height: 26px;
  text-align: left;
  letter-spacing: 0px;
  color: #282526;
  flex-grow: 1;
}
@media (max-width: 767.99px) {
  .product-cart__info {
    font-size: 12px;
    width: 80px;
  }
}
@media (min-width: 768px) {
  .product-cart__info {
    font-size: 21px;
    padding-left: 26px;
  }
}
.product-cart__amout {
  width: 65px;
  height: 29px;
  font-size: 22px;
  color: #282526;
  text-align: center;
}
.product-cart__amout:hover {
  border-bottom: 1px solid #97B7AF;
  cursor: pointer;
  transition: 0.3s ease-out;
}
.product-cart__amout:hover .product-cart__minus {
  color: #97B7AF;
  cursor: pointer;
  transition: 0.3s ease-out;
}
.product-cart__amout:hover .product-cart__plus {
  color: #97B7AF;
  cursor: pointer;
  transition: 0.3s ease-out;
}
@media (max-width: 767.99px) {
  .product-cart__amout {
    margin-right: 30px;
  }
}
@media (min-width: 768px) {
  .product-cart__amout {
    margin-right: 105px;
  }
}
.product-cart__minus {
  color: #282526;
  opacity: 0.5;
}
@media (max-width: 991.99px) {
  .product-cart__minus {
    padding-right: 5px;
  }
}
@media (min-width: 992px) {
  .product-cart__minus {
    padding-right: 10px;
  }
}
.product-cart__plus {
  color: #282526;
  opacity: 0.5;
}
@media (max-width: 991.99px) {
  .product-cart__plus {
    padding-left: 5px;
  }
}
@media (min-width: 992px) {
  .product-cart__plus {
    padding-left: 10px;
  }
}
.product-cart__price {
  letter-spacing: 0px;
  color: #282526;
}
@media (max-width: 767.99px) {
  .product-cart__price {
    width: 28px;
    height: 20px;
    font-size: 16px;
    text-align: end;
  }
}
@media (min-width: 768px) {
  .product-cart__price {
    font-size: 21px;
    width: 37px;
    height: 26px;
  }
}
.product-cart__summary {
  display: flex;
  align-items: center;
  color: #282526;
}
@media (max-width: 767.99px) {
  .product-cart__summary {
    height: 19px;
    font-size: 16px;
    margin-bottom: 47px;
  }
}
@media (min-width: 768px) {
  .product-cart__summary {
    height: 30px;
    font-size: 25px;
    margin-bottom: 60px;
  }
}
.product-cart__order {
  text-align: left;
  letter-spacing: 0px;
  flex-grow: 1;
}
.product-cart__total {
  text-align: end;
}

.payment-card {
  width: 447px;
}
.payment-card__title {
  letter-spacing: 0px;
  color: #282526;
}
@media (max-width: 767.99px) {
  .payment-card__title {
    font-size: 18px;
    height: 22px;
    width: 315px;
    margin: 0 auto 20px;
  }
}
@media (min-width: 768px) {
  .payment-card__title {
    font-size: 21px;
    margin-bottom: 21px;
    height: 26px;
    width: 149px;
  }
}
.payment-card__details {
  border: 1px solid #4D6362;
  position: relative;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}
@media (max-width: 767.99px) {
  .payment-card__details {
    align-items: center;
    padding: 20px;
    width: 315px;
    margin: 0 auto 20px;
  }
}
@media (min-width: 768px) {
  .payment-card__details {
    padding: 58px 35px 35px;
    height: 568px;
  }
}
.payment-card__number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  position: relative;
}
@media (max-width: 767.99px) {
  .payment-card__number {
    height: 52px;
  }
}
@media (min-width: 768px) {
  .payment-card__number {
    height: 73px;
  }
}
.payment-card__logo {
  width: 62px;
  height: 20px;
  position: absolute;
  right: 0;
  top: 4px;
}
@media (max-width: 767.99px) {
  .payment-card__logo {
    width: 39px;
    height: 13px;
  }
}
@media (min-width: 768px) {
  .payment-card__logo {
    width: 62px;
    height: 20px;
  }
}
.payment-card__name {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 767.99px) {
  .payment-card__name {
    margin: 20px 0 33px;
    height: 51px;
  }
}
@media (min-width: 768px) {
  .payment-card__name {
    margin: 51px 0;
    height: 75px;
  }
}
.payment-card__security {
  display: flex;
}
@media (max-width: 767.99px) {
  .payment-card__security {
    width: 100%;
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .payment-card__security {
    width: 377px;
    justify-content: space-between;
    margin-bottom: 104px;
  }
}
.payment-card__date {
  display: flex;
  flex-direction: column;
}
@media (max-width: 767.99px) {
  .payment-card__date {
    height: 52px;
    width: 100%;
    margin-bottom: 20px;
  }
}
@media (min-width: 768px) {
  .payment-card__date {
    width: 166px;
    height: 73px;
  }
}
.payment-card__code {
  display: flex;
  flex-direction: column;
}
@media (max-width: 767.99px) {
  .payment-card__code {
    height: 52px;
    width: 100%;
    margin-bottom: 20px;
  }
}
@media (min-width: 768px) {
  .payment-card__code {
    width: 166px;
    height: 73px;
  }
}
.payment-card__btn {
  width: 205px;
  height: 48px;
  background: #4D6362;
  border-radius: 22px;
  border: none;
  color: #FFFFFF;
  font-size: 21px;
  letter-spacing: 0px;
  cursor: pointer;
  font-family: "Glass Antiqua", cursive;
}
.payment-card__btn:hover {
  background-color: #97B7AF;
  transition: background-color 0.3s ease-out;
}
@media (min-width: 1200px) {
  .payment-card__btn {
    position: absolute;
    bottom: 35px;
    right: 35px;
  }
}
.payment-card__input {
  border: none;
  font-family: "Glass Antiqua", cursive;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  color: #282526;
  caret-color: #97B7AF;
}
@media (max-width: 767.99px) {
  .payment-card__input {
    font-size: 14px;
    padding-bottom: 10px;
    height: 27px;
  }
}
@media (min-width: 768px) {
  .payment-card__input {
    font-size: 19px;
    padding-bottom: 17px;
    height: 40px;
  }
}
.payment-card__input--effect:hover::placeholder {
  color: #97B7AF;
  transition: 0.3s ease-out;
}
.payment-card__input--effect:hover {
  color: #97B7AF;
  border-bottom: 1px solid #97B7AF;
  transition: 0.3s ease-out;
  cursor: pointer;
}
.payment-card__input:focus {
  color: black;
  border-bottom: 1px solid #97B7AF;
  opacity: 1;
}
.payment-card__input:focus ~ label {
  color: black;
  opacity: 1;
}

label {
  color: rgba(40, 37, 38, 0.6);
}
@media (max-width: 767.99px) {
  label {
    font-size: 11px;
    padding-top: 10px;
  }
}
@media (min-width: 768px) {
  label {
    font-size: 15px;
    padding-top: 14px;
  }
}

input[type=checkbox] {
  opacity: 0;
  width: 32px;
  height: 23px;
  z-index: 3;
  position: absolute;
  cursor: pointer;
}
input[type=checkbox]:hover + .header__button {
  background: url(../img/menu-nav-fill.svg);
  background-position: center;
  position: relative;
}

input[type=checkbox]:checked ~ .header__button {
  background: url(../img/close-button.svg);
  background-repeat: no-repeat;
}

input[type=checkbox]:checked ~ .header__sidebar {
  display: block;
}

input[type=checkbox]:checked:hover ~ .header__button {
  background: url(../img/close-button-hov.svg);
  background-repeat: no-repeat;
  position: relative;
  transition: 0.3s ease-out;
}

/*# sourceMappingURL=checkout.css.map */
