@import url('https://fonts.googleapis.com/css2?family=Glass+Antiqua&display=swap');

// Media queries breakpoint defined as variables eg. $desktop: 1000px;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {

}